<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наши услуги</h2>
                    <h3 class="section-subheading text-muted">Создаем мобильные приложения и веб-платформы.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-solid fa-mobile-screen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Разнообразие технологий</h4>
                    <p class="text-muted">iOS, Android и веб приложения</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Быстрая разработка</h4>
                    <p class="text-muted">3 месяца на запуск полноценного MVP</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Опытная команда</h4>
                    <p class="text-muted">с более 10 000 часами накопленного опыта</p>
                </div>
            </div>
        </div>
    </section>