<section id="technologies" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technologies</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Web App Types</h4>
                    <p class="text-muted">Single Page Apps</p>
                    <p class="text-muted"> Dynamic Web Apps</p>
                    <p class="text-muted"> Progressive Web Apps</p>
                    <p class="text-muted"> (offline web apps)</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Data</h4>
                    <p class="text-muted">Cloud storages</p>
                    <p class="text-muted"> Relational databases</p>
                    <p class="text-muted"> Non-relational databases</p>
                    <p class="text-muted"> External data sources</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Deploy </h4>
                    <p class="text-muted">MS Asure</p>
                    <p class="text-muted"> AWS</p>
                    <p class="text-muted"> VMware</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Quality Addurance</h4>
                    <p class="text-muted">Jira, Xray, Linear</p>
                    <p class="text-muted"> Swagger, Pastman</p>
                    <p class="text-muted"> Cypress</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Design</h4>
                    <p class="text-muted">User Interface</p>
                    <p class="text-muted"> VR & AR app</p>
                    <p class="text-muted"> VR games</p>
                    <p class="text-muted"> 2D/3D design</p>
                    <p class="text-muted"> Design systems</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>UX</h4>
                    <p class="text-muted">UX research</p>
                    <p class="text-muted"> Wireframes</p>
                    <p class="text-muted"> Prototyping</p>
                    <p class="text-muted"> Workshop</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Agile development</h4>
                    <p class="text-muted">Scrum </p>
                    <p class="text-muted"> Kanban</p>
                    <p class="text-muted"> Jira</p>
                    <p class="text-muted"> Stack</p>
                    <p class="text-muted"> Confluence</p>
                    <p class="text-muted"> Mural</p>
                </div>
            </div>
        </div>
    </div>
</section>